@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dflbsq');
  src:  url('../fonts/icomoon.eot?dflbsq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dflbsq') format('truetype'),
    url('../fonts/icomoon.woff?dflbsq') format('woff'),
    url('../fonts/icomoon.svg?dflbsq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Juventus_Logo:before {
  content: "\e900";
  font-size: 200px;
  animation: blink 1s ease-out 2s infinite;
}
@keyframes blink {
  0%   {color: black;}
  25%  {color: #4f4c43;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  100% {color: black}
}