.logoslogan {
	display: flex;
	justify-content: space-between;
}
.heading {
	font-size: 40px;
	color: white;
	font-weight: bold;
}
.H {
	background-color: black
	/*width: 100%;*/
}
.logo {
	height: 100px;
	float: left;
}
.page1 {
	background-color: #1a1a1a;
}
.clear {
	clear: both;
}
.text1 {
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-align: center;
}
/*.cube,
.cuberandom,
.block,
.cubeStop {
	width: 500px;
	height: 500px;
	object-fit: contain;
}*/
/*#image1 {
    width: 800px;
    height: 600px;
    object-fit: cover;
}*/