html {
	overflow-x: hidden;
}
.logoslogan {
	display: flex;
	justify-content: space-between;
}
.homeball {
	display: flex;
}
.heading {
	font-size: 40px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
	text-transform: uppercase;
}
.story {
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}
.H {
	background-color: black
	/*width: 100%;*/
}
.logo {
	height: 100px;
	align-self: center;
}
.page1 {
	background-color: #1a1a1a;
}
.clear {
	clear: both;
}
.home {
	font-size: 40px;
	color: white;
	text-transform: capitalize;
}
.me {
	font-size: 40px;
	color: white;
}
.slides {
	text-align: center;
}
form.searchform {
	max-width: 250px;
	width: 100%;
	position: relative;
	margin-top: 50px;
}
form.searchform input[type=search] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 80%;
	background: #f1f1f1;
	border-radius: 3px;
}
.formbutton {
	width: 20%;
	height: 43px;
  	padding-right: 20px;
  	background: #1a1a1a;
  	color: white;
  	font-size: 17px;
  	border: 1px solid grey;
  	border-left: none;
  	cursor: pointer;
  	position: absolute;
}
.formbutton:hover {
  background: #000000;
}
.fa-search {
	position: absolute;
	right: 20px;
	top: 10px;
}
.navdiv {
	display: flex;
	justify-content: flex-start;
}
.nav-ul {
	margin-top: 30px;
}
.nav-li {
	font-size: 30px;
	color: white;
	text-transform: capitalize;
	/*align-self: center;*/
	margin-top: 20px;
}
.nav-li:focus {
	color: white!important;
}
.fa-circle-notch {
	animation: spin 2s linear infinite;
}
.ball {
	height: 50px;
	animation: spin 2s linear infinite;
	display: block;
	margin: 0 auto;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.textball {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 30px;
}
.ball2 {
	height: 50px;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.text2 {
	text-transform: capitalize;
	font-size: 50px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.1);
	animation: color-change 5s linear infinite;
}

@keyframes color-change {
	0% {color: rgba(255, 255, 255, 0.1);}
	25% {color: rgba(255, 255, 255, 0.3);}
	50% {color: rgba(255, 255, 255, 0.5);}
	75% {color: rgba(255, 255, 255, 0.7);}
	100% {color: rgba(255, 255, 255, 1);}
}
.fa-play {
	color: white;
	font-size: 50px;
	cursor: pointer;
}
.section1 {
	margin-top: 100px;
}
.section2 {
	margin-top: 200px;
}
.aboutus {
	background-color: white;
	padding-top: 100px;
}
.box1 {
	display: flex;
	justify-content: space-around;
}
.about {
	text-transform: uppercase;
	font-size: 80px;
	/*margin-left: 100px;*/
	font-weight: bold;
	color: rgba(77, 77, 77, 0.7);
} 
.from {
	text-transform: capitalize;
	/*text-align: center;*/
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 100px;
	margin-left: 400px;
	color: rgba(217, 217, 217, 0.9);
}
.history {
	margin-left: 100px;
	width: 1100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	color: rgb(77, 77, 77);
	text-align: justify;
  	text-justify: inter-word;
  	margin-bottom: 50px;
}
.box2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*margin-top: 10px;*/
}
.box3 {
	background-color: black;
}
.logo2 {
	height: 100px;
	margin-top: 10px;
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}
.box5 {
	display: flex;
	justify-content: space-between;
}
.box6 p {
	color: white;
	line-height: 1.6;
	font-size: 20px;
}
.box7 p {
	color: white;
	line-height: 1.6;
	font-size: 20px;
}
.box6 {
	margin-left: 50px;
}
.box7 {
	margin-left: 200px;
}
.box8 p {
	color: white;
	line-height: 1.6;
	font-size: 20px;
}
.box4 {
	display: flex;
	justify-content: center;
}
/*.star:nth-child(1) {
	margin: 100px 3px 10px auto;
}
.star:nth-child(3) {
	margin: 100px auto 10px 3px;
}*/
.star {
	height: 20px;
	margin-top: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.section4 {
	background-color: white;
	margin-top: 100px;
}
html, body {
  -webkit-font-smoothing: antialiased;
}
.blackwhite {
	display: table-cell;
	text-align: center;
	color: black;
	font-size: 80px;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 5px 2px white;
}
x {
	display: inline-block;
	font-style: normal;
	padding: 0 0.25em;
	-webkit-transform: scale(0) translate3d(0, -2000px, 0);
	   -moz-transform: scale(0) translate3d(0, -2000px, 0);
		-ms-transform: scale(0) translate3d(0, -2000px, 0);
		 -o-transform: scale(0) translate3d(0, -2000px, 0);
			transform: scale(0) translate3d(0, -2000px, 0);
	/*background: rgba(255, 255, 255, 0.3);*/
	border-radius: 50%;
}
x.fly-in-out {
	-webkit-animation: fly-in-out 3s infinite ease-in-out;
	   -moz-animation: fly-in-out 3s infinite ease-in-out;
		 -o-animation: fly-in-out 3s infinite ease-in-out;
			animation: fly-in-out 3s infinite ease-in-out;
}

@-webkit-keyframes fly-in-out {
	0% {
		-webkit-transform: scale(0) translate3d(0, -1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		/*color: rgba(255, 255, 255, 0.8);*/
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-webkit-transform: scale(0) translate3d(0, 1000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-moz-keyframes fly-in-out {
	0% {
		-moz-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		/*color: rgba(255, 255, 255, 0.8);*/
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-moz-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-moz-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@-o-keyframes fly-in-out {
	0% {
		-o-transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		/*color: rgba(255, 255, 255, 0.8);*/
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		-o-transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		-o-transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
@keyframes fly-in-out {
	0% {
		transform: scale(0) translate3d(0, -2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		/*color: rgba(255, 255, 255, 0.8);*/
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
.image2 {
	width: 400px;
	height: 500px;
	object-fit: cover;
	/*margin-top: 25px;*/
	transition: transform .2s;
}
.box9 img {
	margin: 0 auto;
	display: block;
}
.leftbox p {
	text-align: center;
}
.chielo {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	font-family: 'Indie Flower', cursive;
}
.box10,
.box11 {
	display: flex;
	margin-top: 100px;
}
.Christiano {
	/*position: absolute;
	top: 240px;
	left: 0;*/
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	/*transform: rotate(45deg);*/
	color: #000000;
	font-family: 'Indie Flower', cursive;
}
.image6,
.image10,
.image11,
.image12,
.image13,
.image14 {
	width: 350px;
	height: 500px;
	object-fit: cover;
	/*margin-top: 50px;*/
	transition: transform .2s;
}
.image4,
.image5 {
	width: 400px;
	height: 500px;
	object-fit: cover;
	/*margin-top: 30px;*/
	transition: transform .2s;
}
.image7,
.image8,
.image9,
.image15,
.image16,
.image17 {
	width: 400px;
	height: 500px;
	object-fit: cover;
	margin-top: 50px;
	transition: transform .2s;
}
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover,
.image6:hover,
.image7:hover,
.image8:hover,
.image9:hover,
.image10:hover,
.image11:hover,
.image12:hover,
.image13:hover,
.image14:hover {
	-ms-transform: scale(1.3);
  	-webkit-transform: scale(1.3);
  	transform: scale(1.3); 
}
.leftbox {
	display: flex;
	flex-direction: column;
}
.Giorgio {
	color: black;
	font-size: 20px;
}
.history1 {
	color: black;
	font-size: 20px;
	margin-top: 30px;
}
.G {
	vertical-align: middle;
	margin-left: 400px;
}
/*.logo1 {
	vertical-align: middle;
	height: 100px;
}*/
.photos img {
    position: absolute;
}
.photos {
	position: relative;
	height: 800px;
	margin-top: 50px;
}
.photos img:nth-of-type(1) {
    right: 200px;
    top: 70px;
    height: 600px;
    width: 500px;
}
 
.photos img:nth-of-type(2) {
    left: 150px;
    top: 100px;
    height: 600px;
    width: 500px;
}
 
.photos img:nth-of-type(3) {
    left: 550px;
    top: 50px;
    height: 600px;
    width: 500px;
}
 
.photos img:nth-of-type(4) {
    left: 350px;
    top: 190px;
    width: 800px;
}
.photos img:nth-of-type(1) {
    /*left: 50px;
    top: 50px;*/
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}
 
.photos img:nth-of-type(2) {
    /*left: 150px;
    top: 100px;*/
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
 
.photos img:nth-of-type(3) {
    /*left: 250px;
    top: 50px;*/
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}
 
.photos img:nth-of-type(4) {
    /*left: 350px;
    top: 150px;*/
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.photos img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
}
.photos img:hover {
    -webkit-transform: rotate(380deg) scale(1.1);
    -moz-transform: rotate(380deg) scale(1.1);
    -o-transform: rotate(380deg) scale(1.1);
    transform: rotate(380deg) scale(1.1);
    z-index: 10;
}
.photos img:nth-of-type(4):hover {
	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 10;
}
.photos img:nth-of-type(4):hover {
	-webkit-transform: rotate(380deg) scale(1.3);
    -moz-transform: rotate(380deg) scale(1.3);
    -o-transform: rotate(380deg) scale(1.3);
    transform: rotate(380deg) scale(1.3);
    z-index: 10;
}
.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.photos img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    padding: 10px 10px 30px 10px;
    background: white;
    border: solid 1px black;
}
.defenders {
	margin: 100px auto 50px;
	text-align: center;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
}
.forwards {
	margin: 100px auto 50px;
	text-align: center;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
}
.section5 {
	margin-top: 100px;
}
footer {
	background-color: black;
}
.text1 {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 60px;
	text-align: center;
	margin-top: 100px;
	text-shadow: 5px 5px #404040;
	animation: colorchange 2s linear 2s infinite;
}	
@keyframes colorchange {
  0%   {color: white;}
  25%  {color: #4f4c43;}
  50% {opacity: 0;}
  75% {opacity: 0;}
  100% {color: white;}
}
.zebra {
	height: 300px;
	margin-top: 50px;
	border-radius: 15%;
	animation: mymove 1.5s infinite;
}
@keyframes mymove {
  from {margin-left: 500px;}
  to {margin-left: 800px;}
}
.div1,
.div2 {
	color: white;
	text-align: center;
}
.designauthor {
	color: rgba(255, 77, 136, 0.8);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.author {
	color: rgba(255, 77, 136, 0.8);
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.date {
	color: white;
	text-align: center;
}
.swiper-container {
        width: 700px;
        height: 500px;
        /*position: absolute;
        left: 50%;
        top: 50%;*/
        /*margin-left: -150px;
        margin-top: -150px;*/
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }
.section6 {
	background-color: white;
}
.Locatelli {
	height: 500px;
	display: block;
	margin: 0 auto;
}
.section6 p {
	font-size: 20px;
	text-align: center;
}